<section id="postProduct">
    <div class="container p-5">
      <h4 class="display-4">Post a Product for Sale</h4>
      <hr>
      <app-message></app-message>
      <div *ngIf="!categories" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngIf="categories" class="card bg-light">
        <div class="card-body">
          <form enctype="multipart/form-data">
            <div class="form-group">
              <label class="form-control-label">Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="product.title">
            </div>
            <div class="form-group">
              <label class="form-control-label">Price</label>
              <input type="number" name="price" class="form-control" [(ngModel)]="product.price">
            </div>
            <div class="form-group">
              <label>Category</label>
              <select name="categoryId" [(ngModel)]="product.categoryId" class="custom-select">
                <option *ngFor="let category of categories" [value]="category._id">
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="description" rows="5" [(ngModel)]="product.description"></textarea>
            </div>
            <div class="form-group">
              <label class="form-control-label">Number in Stock</label>
              <div class="col-1 mt-5 mt-md-0 p-0">
                <input type="number" name="stock" min="1" class="form-control" [(ngModel)]="product.stock">
              </div>
            </div>
            <div class="form-group">
              <label>Upload Image</label>
              <input type="file" class="form-control-file" accept="image/*" name="files" (change)="fileChange($event)">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="isPromotion" class="form-check-input" [(ngModel)]="isPromotion"> Add Promotion
              </label>
            </div>
            <div class="form-group" *ngIf="isPromotion">
              <label class="form-control-label">Duration Hours</label>
              <input type="number" name="promotion" class="form-control" [(ngModel)]="product.promotion">
            </div>
            <div class="form-group" *ngIf="isPromotion">
              <label class="form-control-label">Discount Percentage</label>
              <input type="number" name="discount" class="form-control" [(ngModel)]="product.discount">
            </div>
            <hr>
            <button type="button" class="btn btn-success" (click)="post()" [disabled]="btnDisabled">Post</button>
          </form>
        </div>
      </div>
    </div>
  </section>
