










  <div class="row">
    <div *ngFor="let product of products" class="col-sm-4">
      <a routerLink="/product/{{product._id}}">
        <div class="card bg-light">
           <img src="http://localhost:5000/api/seller/image/{{product.fileName}}" alt="product" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title "> {{product.title}} </h5>
            <div class=""><p class="card-text cross"> {{product.price | currency}} </p></div>
            <div class=""><p class="card-text "> {{product.newPrice | currency}} </p></div>
          </div>
          <countdown-timer [end]="product.finish"></countdown-timer>

        </div>
        </a>
    </div>
  </div>
