<section id="order">
  <div class="container-fluid p-5">
    <app-message></app-message>
    <div *ngIf="!order" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="order" class="row">
      <div class="col-md-9">
        <p class="lead font-weight-bold">Order</p>
        <div class="row">
          <div class="offset-8 col-2 d-none d-md-block">
            <p>
              <small class="text-muted">Price</small>
            </p>
          </div>
          <div class="col-2 d-none d-md-block">
            <p>
              <small class="text-muted">Quantity</small>
            </p>
          </div>
        </div>
        <hr class="mt-0">
        <div *ngFor="let product of order.products; let i=index;" class="cartItem">
          <div class="row">
            <div class="col-4 col-md-2">
              <a routerLink="/product/{{product.product.id}}">
                <img src="http://localhost:5000/api/seller/image/{{product.product.fileName}}" alt="productImage" class="img-fluid img-thumbnail">
              </a>
            </div>
            <div class="col-5 col-md-6">
              <h5>
                <a routerLink="/product/{{product.product.id}}">{{product.product.title}}</a>
              </h5>
              <p class="m-0">
                <small class="text-muted">{{product.product.owner.name}}</small>
              </p>
              <!--<p class="m-0">
                <small class="text-muted">{{product.category.name}}</small>
              </p>-->
              <!--<a class="text-danger" (click)="removeProduct(i, item)">Delete</a>-->
            </div>
            <div class="col-1 col-md-2">
              <h6 class="font-weight-bold text-danger">{{product.product.price | currency}}</h6>
            </div>
            <div class="col-1 mt-5 mt-md-0 p-0">
              <h3>{{product.quantity}}</h3>
            </div>
          </div>
          <hr>
        </div>
        <h5 class="text-right">Total:
          <span class="ml-1 font-weight-bold text-danger">{{order.totalPrice / 100 | currency}}</span>
        </h5>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5>State:
              <span class="ml-1 font-weight-bold text-danger">{{toState(order.state)}}</span>
            </h5>
            <br>
            <h3>Created:</h3>
            {{toDate(order.created)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
