  <section id="myProducts">
    <div class="container p-5">
      <app-message></app-message>
      <div *ngIf="!products" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <h3 *ngIf="products && !products.length" class="display-2 text-center mt-5">My Products is Empty</h3>
      <div *ngIf="products && products.length" class="row">
        <div class="col">
          <h4 class="display-4">My Products</h4>
          <div class="row">
            <div class="offset-10 col-2 d-none d-md-block">
              <p>
                <small class="text-muted">Price</small>
              </p>
            </div>
          </div>
          <hr class="mt-0">
          <div *ngFor="let product of products" class="product">
            <div class="row">
              <div class="col-4 col-md-2">
                <a routerLink="/product/{{ product.id }}">
                  <img src="http://localhost:5000/api/seller/image/{{product.fileName}}" alt="image" class="img-fluid img-thumbnail">
                </a>
              </div>
              <div class="col-5 col-md-8">
                <h5>
                  <a routerLink="/product/{{ product.id }}">{{ product.title }}</a>
                  <p class="m-0">
                    <small class="text-muted">{{ product.category.name }}</small>
                  </p>
                </h5>
              </div>
              <div class="col-2">
                <h6 class="font-weight-bold text-danger">{{ product.price | currency }}</h6>
                <div class="navbar-nav">
                  <div class="nav-item ml-0 ml-md-2">
                    <a routerLink="/profile/myproducts/updateProduct/{{ product.id }}"  class="nav-link">
                       <i class="fa fa-edit mr-1"></i>
                       Edit
                    </a>
                  </div>
                  <div class="nav-item ml-0 ml-md-2">
                    <a (click)="deleteProduct(product.id)" routerLink="/cart"  class="nav-link">
                       <i class="fa fa-trash mr-1"></i>
                       Delete
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </section>
