<div class="card bg-light height-search">


    <div class="box">
        <h5>Categories:</h5>
        <div *ngFor="let category of Categories" class="pretty p-icon p-curve p-jelly">
            <input  type="checkbox"  (click)="checkboxValues(brand,'brand', $event)"> 
            <div class="state p-primary">
                <i class="icon material-icons">done</i>
                <label id="product-name">{{ category.name }}</label>
            </div>
        </div>
      </div>
      
      <div class="box">
        <h5>Price:</h5>
        <div *ngFor="let cpu of cpuCheckbox"  class="pretty p-icon p-curve p-jelly">
            <input  type="checkbox" (click)="checkboxValues(cpu,'cpu', $event)"> 
            <div class="state p-primary">
                <i class="icon material-icons">done</i>
                <label id="product-name">{{ cpu.cpu }}cores</label>
            </div>
        </div>
      </div>
      
 
      
    </div>