<section id="categories">
    <div class="container p-5">
        <app-message></app-message>
        <h4 class="display">categories</h4>
        <hr>
        <!-- <div *ngIf="!categories" class="m-auto">
            <h1 class="text-center display-3 mt-5">
                <i class="fa fa-spinner fa-spin"></i>
            </h1>
        </div> -->
        <div *ngIf="categories" class="list-group">
            <a *ngFor="let category of categories" routerLink="/categories/{{category._id}}" class="list-group-item list-group-item-action">
                {{category.name}}
            </a>  
        </div>
    </div>
</section>