#searchBtn {
    cursor: pointer;
    border: none;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;


}
#Logo {
    width: 50px;
}