<section id="home">
    <div class="container-fluid d-none d-md-block">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="assets/img/carousel/image1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                    <h3>10 seconds between slides...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/carousel/image2.jpg"  alt="Random second slide">
                <div class="carousel-caption">
                    <h3>No keyboard...</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/carousel/image3.jpg" alt="Random third slide">
                <div class="carousel-caption">
                    <h3>And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>




    <div class="container p-5">

      <div class="container text-center">
        <app-flash-sale></app-flash-sale>
      </div>

      <app-message></app-message>
      <p class="lead">
        <b>Recommended Deals: Last-Minute Deals</b>
      </p>


      <div class="row">
        <div class="col-sm-3">
          <app-search-aside></app-search-aside>
        </div>





        <div class="col-sm-9">
          <div class="row">
            <div *ngIf="!products" class="m-auto">
              <h1 class="text-center display-3 mt-5">
                <i class="fa fa-spinner fa-spin"></i>
              </h1>
            </div>
            <div *ngFor="let product of products" class="col-md-3 mb-5">
              <a routerLink="/product/{{ product._id }}">
                <div class="card bg-light">
                  <img src="http://localhost:5000/api/seller/image/{{product.fileName}}" alt="product" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.price | currency }}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
