<section id="settings">
  <div class="container p-5">
    <h4 class="display-4">My Account Settings</h4>
    <hr>
    <app-message></app-message>
    <div *ngIf="!currentSettings" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="currentSettings" class="card bg-light">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="currentSettings.name">
          </div>
          <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="currentSettings.email">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" name="isSeller" class="form-chek-input" [(ngModel)]="currentSettings.isSeller">
              Is Seller
            </label>
          </div>
          <div class="form-group">
            <label class="form-control-label">New Password</label>
            <input type="password" name="newPwd" class="form-control" [(ngModel)]="currentSettings.newPwd">
          </div>
          <div class="form-group">
            <label class="form-control-label">Confirm Password</label>
            <input type="password" name="pwdConfirm" class="form-control" [(ngModel)]="currentSettings.pwdConfirm">
          </div>
          <button type="button" class="btn btn-danger" (click)="update()" [disabled]="btnDisabled">Update</button>
        </form>
      </div>
    </div>
  </div>
</section>
